.body {
  color: #b800ff;
  text-align: center;
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transition: opacity 1s ease;
  opacity: 0;
}

.active {
  opacity: 1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 15px 30px;
  opacity: 0.8;
}

.content {
  color: #b800ff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.title {
  color: #b800ff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.presents {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.present-img {
  cursor: pointer;
  animation-duration: 4s;
  animation-name: zooming;
  animation-iteration-count: infinite;
}

.me {
  max-width: -webkit-fill-available;
}

.img-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 99px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 0 10px;
}

@keyframes zooming {
  80% {
    transform: rotate(15deg);
  }
  90% {
    transform: scale(1.1) rotate(15deg);
  }
  to {
    transform: rotate(15deg);
  }
}
